.header{
    display: flex;
    justify-content: center;
}
.foto{
    margin: 80px;
    height: 90px;
    color: black;
   }
   .contacto{
    display: flex;
    justify-content: center;
   }
.redes{
    height: 30px;
    margin: 100px;
}
