.header {
    display: flex;
    justify-content: end;
    align-items: center;
}

.item {
    margin: 10px;
    color: black;
    height: 30px;


}

/*hasta aca header*/
.main {
    width: 100%;
    height: 70vh;
}

.google {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.buscador {
    border-style: solid;
    border-color: rgb(129, 130, 131);
    border-width: 1px;
    border-radius: 20px;
    width: 60vw;
    height: 5vh;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.letras {
    width: 85%;
    border: 0;
    background-color: rgb(252, 252, 252);
    color: black;
}

.lupa {
    margin-top: 4px;
    width: 30px;
}

.botones {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.boton {
    margin-right: 19px;
    background-color: rgb(19, 219, 96);
    font-size: 15px;
    width: 20vw;
    height: 6vh;
}

.boton: