*{
    font-family: 'Kanit', sans-serif;
}
.header {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.593);
}

.foto {
    margin: 0px;
    height: 150px;
    color: black;
    border-radius: 70px;
    
}

main {
    display: flex;
    flex-direction: row;

}

.menu {
    width: 350px;
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    font-size: large;
    
}

.info {
    background-color: rgb(143, 143, 143);
    padding-left: 50px;
    font-size: larger;
    
}

.lista {
    list-style: none;
    padding: 10px;
    padding-top: 0;
    line-height: 50px;
    color: white;
    position: sticky;
    top: 10px;
    
}
.lista :link{
    text-decoration: none;
    color: white;
}
.lista :visited{
    text-decoration: none;
    color: white;
}

.lista :hover {

    background-color: rgb(170, 165, 165);
    color: black;
    text-decoration: none;
}


.contacto {
    display: flex;
    justify-content: space-evenly;
    
}

.img-redes {
    height: 30px;
   
}

.usuarios {
    height: 30px;
    margin: 0px;
    color: white;
    
}
.nombre {
    color: black;
    text-decoration: none;
    padding-left: 20px;
    font-size: 50px;
    
}
footer{
    padding: 40px;
    background-color: black;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}